<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>



  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
      <br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <label for="psw"><b>Email</b></label>
    <input type="email" placeholder="Enter your email" name="ename" required>
      <br>

    <button type="submit">Register</button>

  </div>
</form>

</body>
</html>